{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Subeme - New Password{% endblock %}

{% block style %}
    <style>
        .login-style{
            width: 500px;
            margin: auto;

        }
    </style>

{% endblock %}

{% block content %}
    <div class="container py-5 login-style">
        <h1>Ingrese una nueva contraseña</h1>
        {%if validlink %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="mt-2 btn btn-primary" type="submit"><i class="bi bi-box-arrow-in-right"> </i>Envíar</button>
            </form>
        {% else %}
            <p>El link para restablecer la contraseña es incorrecto, posiblemente ya fué usado. Por favor envíe uno nuevo.</p>
        {% endif %}
    </div>

{% endblock %}
