{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}

{% block style %}
    <style>
        .login-style{
            width: 500px;
            margin: auto;

        }
    </style>

{% endblock %}

{% block content %}
    <div class="container py-5 login-style">
        <h1>Olvidó su contraseña?</h1>

        <form method="POST" action=".">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="mt-2 btn btn-primary" type="submit"><i class="bi bi-box-arrow-in-right"> </i>Envíar</button>
        </form>

    </div>

{% endblock %}

