{% autoescape off %}
Hola {{ user.username }},

Necesitas restaurar tu contraseña?

Presiona en el siguiente botón para cambiar la clave.

{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    si no te funciona el botón mencionado, ingresa a travez del siguiente link:

    {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
{% endblock %}

Si tu no olvidaste tu contraseña, puedes ignorar este correo.


The {{ site_name }} team.
{% endautoescape %}