{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block titulo %} Subeme-signup {% endblock %}

{% block head %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
{% endblock %}

{% block style %}
	<style>
		.iti {
			width: 100%;
		}
	</style>
{% endblock %}

{% block content %}

<!--Register-->
<div class="container py-5">
	<h1>Crear cuenta</h1>
	<div class="row">
		<div class="col-12">
			<div class="d-flex justify-content-center">
				<form method="POST" novalidate>
					{% csrf_token %}
					{{ form |crispy }}
					{{form_person|crispy}}
					<button class="btn btn-primary" type="submit" onclick="internationNumberAfterSubmit()">
						<i class="bi bi-person-plus-fill"> </i>Registrarse
					</button>
				</form>
			</div>
		</div>
		<div class="col-12">
			<p class="text-center">Si ya tienes una cuenta creada, <a href="/login">iniciar sesión</a> ingresando aquí.</p>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
	<script type="text/javascript">
		const phoneInputField = document.querySelector("#phone");
		const phoneInput = window.intlTelInput(phoneInputField, {
		preferredCountries: ["co", "us", "es", "mx"],
		utilsScript:
			"https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
		});
	</script>
	<script type="text/javascript">
		function internationNumberAfterSubmit(){

			jQuery("#phone").val(phoneInput.getNumber());
		}
	</script>
{% endblock %}