{% extends "base.html" %}

{% block titulo %} Info App {% endblock %}

{% block content %}

<div class="container">
  <div class="mt-2">
    <h1>Info App</h1>
    <p>Este es el conjunto de Apps, funcionalidades que fueron utilizadas para crear esta Web Page</p>
  </div>
  
  <div class="row">
    <div class="col-6 col-md-2">
      <img src="https://img.icons8.com/color/80/000000/bootstrap.png" alt="bootstrap_icon"/>
    </div>
    <div class="col-6 col-md-2">
      <img src="https://img.icons8.com/color/80/000000/python--v1.png" alt="python_icon"/>
    </div>
    <div class="col-6 col-md-2">
      <img src="https://img.icons8.com/color/80/000000/django.png" alt="python_icon"/>
    </div>
    <div class="col-6 col-md-2">
      <img src="https://img.icons8.com/color/80/000000/postgreesql.png" alt="python_icon"/>
    </div>
    <div class="col-6 col-md-2">
      <img src="https://img.icons8.com/color/80/000000/amazon-web-services.png" alt="python_icon"/>
    </div>
  </div>

</div>

{% endblock %}