{% extends "base.html" %}

{% block titulo %} Subeme Home {% endblock %}

{% block content %}

<!-- Masthead-->

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Sube tus documentos más importantes... Y descargalos cuando los necesites!</h1>
                    <img src="https://img.icons8.com/office/80/000000/pdf-2.png"/>
                    <img src="https://img.icons8.com/office/80/000000/word.png"/>
                    <img src="https://img.icons8.com/office/80/000000/png.png"/>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi bi-file-earmark-arrow-up m-auto text-primary"></i></div>
                    <h3>Subir Documentos</h3>
                    <p class="lead mb-0">Sube documentos y mantenlos disponibles {{envi}}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi bi-file-earmark-arrow-down m-auto text-primary"></i></div>
                    <h3>Descargar Documentos</h3>
                    <p class="lead mb-0">Descargalos cuando los necesites</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                    <h3>Fácil de usar</h3>
                    <p class="lead mb-0">Listo para usar tu propio contenido, personalizar los documentos</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://images.unsplash.com/photo-1603899122634-f086ca5f5ddd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Seguridad de Documentos</h2>
                <p class="lead mb-0">Tus documentos estarán respaldados, solo tu accedes a ellos y los descargas</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://images.unsplash.com/photo-1637593992672-ed85a851fdc3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1162&q=80')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Integraciones</h2>
                <p class="lead mb-0"> con diferentes servicios</p>
            </div>
        </div>

    </div>
</section>
{% endblock %}