{% extends "base.html" %}

{% block titulo %} Listar Documentos {% endblock %}

{% block content %}

  <div class="container">
    <div class="row mt-4">
      <div class="col-6 col-md-4">
        <h1>Mis Documentos</h1>
      </div>
      <div class="col-6 col-md-8">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary text-right btn-sm" id="btnAddNew">
            <i class="bi bi-file-earmark-plus"></i>
            Añadir nuevo
          </button>
        </div>
      </div>
      <div class="col-12 col-md-12">
        <div class="d-flex justify-content-end">
          <form class="d-flex" action="/list/" method="GET">
            <div class="input-group">
              <input type="text" class="form-control " name="qr" placeholder="Buscar...">
              <div class="input-group-append">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass fa-sm"></i></button>
                </span>
              </div>
            </div><!-- /input-group -->
        </form>
        </div>
      </div>
    </div>

    <div class="col-12 w-75 m-auto">
      <div class="accordion mt-3" id="accordionFatherTree">
        {%for fatherObj in typeObjFather %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFather{{fatherObj.id}}">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDad{{fatherObj.id}}" aria-expanded="true" aria-controls="collapseDad{{fatherObj.id}}">
                {{fatherObj.name}}
              </button>
            </h2>
            <div id="collapseDad{{fatherObj.id}}" class="accordion-collapse collapse" aria-labelledby="headingFather{{fatherObj.id}}" data-bs-parent="#accordionFatherTree">
              <div class="accordion-body"> <!--Dad start body-->

                <div class="accordion" id="accordionChild{{fatherObj.id}}">
                  {%for fileObj in filesParent %}
                    {% if fatherObj.id == fileObj.fileType_id %}
                      <div class="accordion-item">
                        <input type="hidden" id="fatherHidden{{fatherObj.id}}">
                        <h2 class="accordion-header" id="headingChild{{fileObj.id}}">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChild{{fileObj.id}}" aria-expanded="true" aria-controls="collapseChild{{fileObj.id}}">
                            {{fileObj.fileTypeName}}
                          </button>
                        </h2>
                        <div id="collapseChild{{fileObj.id}}" class="accordion-collapse collapse " aria-labelledby="headingChild{{fileObj.id}}" data-bs-parent="#accordionChild{{fatherObj.id}}">
                          <div class="accordion-body"> <!--Child start body-->
                            <div class="row">
                              <div class="col-6">
                                <h5>{{fileObj.fileTypeName}}</h5>
                                {% if fileObj.fileDescription %}
                                  <p><strong>Descripción: </strong>{{fileObj.fileDescription}}</p>
                                {% endif %}
                                {% if fileObj.files %}
                                  <p>
                                    <strong>Archivo:</strong>
                                    <a href="{{fileObj.files.url}}" class="btn btn-outline-info btn-sm" target="_blank"> Descargar</a>
                                  </p>
                                {% endif %}
                                <!--<embed src="https://www.orimi.com/pdf-test.pdf" width="500" height="375" type="application/pdf">-->
                              </div>
                              <div class="col-6">
                                <div class="d-flex justify-content-end">
                                  <a href="#" class="text-primary me-2">
                                    <i class="fa-solid fa-pen-to-square fa-lg" onclick="getFileObjData({{fileObj.pk}})" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                                  </a>
                                  <a href="{% url 'deleteFile' id=fileObj.pk %}" class="text-danger">
                                    <i class="fa-solid fa-trash-can fa-lg"></i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div> <!--Child end body-->
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="d-flex justify-content-end mt-2">
                  <div class="row">
                    <div class="col-auto" id="btn-zip{{fatherObj.id}}">
                      <button type="button" class="btn btn-sm btn-primary" id="btn-generate-zip{{fatherObj.id}}" onclick="getAllZip('{{fatherObj.id}}','{{fatherObj.name}}')">
                        <i class="fa-solid fa-file-zipper fa-lg"></i>
                        Generar zip
                      </button>
                    </div>
                  </div>
                </div>
              </div> <!--Dad end body-->
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!--Modal Form Edit-Add-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="fst-italic" id="parent-breadcrumbs"></p>
            <form id="formFileEdit" action="{% url 'getAndUpdateFileAjax' %}" method="POST">
              <input type="hidden" id="idFormFile" name="id">
              {% csrf_token %}
              <div class="mb-3">
                <label for="typeDocument" class="form-label">Tipo de Documento:</label>
                <input type="text" id="typeDocument" name="fileTypeName" class="form-control">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descripción:</label>
                <textarea class="form-control" id="description_text" name="fileDescription" rows="3"></textarea>
              </div>
              <div class="mb-3 form-check switcher">
                <input type="checkbox" class="form-check-input" id="checkbox_file_toggle">
                <label class="form-check-label" for="exampleCheck1">Cambiar archivo:</label>
              </div>
              <div class="mb-3">
                <label for="fileInput" id="fileIpunt_label" class="form-label">Archivo:</label>
                <input class="form-control" type="file" id="fileInput" name="files">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" onclick="jQuery('form#formFileEdit').submit();" class="btn btn-primary btn-sm"><i class="bi bi-file-earmark-arrow-up"></i>Guardar</button>
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>


    <!--mdl for sbm-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Estas seguro de eliminarlo?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Estás apunto de eliminar #Cedula.
            Una vez eliminado no lo tendrás hasta que lo crees nuevamente, si así lo deseas.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger btn-sm">Confirmo eliminarlo</button>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block scripts %}
  <script text="text/javascript">
    jQuery(document).ready(function(){

      jQuery('#fileInput').hide();
      jQuery('#fileIpunt_label').hide();
      jQuery('#checkbox_file_toggle').click(function() {
        jQuery('#fileIpunt_label').toggle();
        jQuery('#fileInput').toggle();
        checkbox_file_validation();
      });

      jQuery('#exampleModal').on('hidden.bs.modal', function () {
        jQuery('#exampleModal form')[0].reset();
        jQuery('#fileInput').hide();
        jQuery('#fileIpunt_label').hide();
      });

      redirect_new_form();

    });

    function checkbox_file_validation(){

      if (!jQuery("#checkbox_file_toggle").is(":checked")) {
            jQuery('#fileInput').val('');
        }
    }

    function redirect_new_form(){
      jQuery("#btnAddNew").on('click',function(){
        window.location.href = "/add-file-page";

      });
    }

    function getAllZip(fatherId,fatherName){

      if(jQuery("#fatherHidden"+fatherId).length){
        jQuery("#linkZipFile"+fatherId).remove();
        jQuery.ajax({
          type: 'POST',
          url: "{% url 'generateZipAjax' %}",
          xhrFields:{
              responseType: 'blob'
          },
          data: {
            id: fatherId,
            name: fatherName,
            csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          success: function(response, status, xhr) {
            var fileName = xhr.getResponseHeader('content-disposition').split('filename=')[1].split(';')[0]
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(response);
            link.download = fileName;
            link.text = "Descargar";
            link.className = "btn btn-primary btn-sm";
            link.id = "linkZipFile"+fatherId
            spinnerEffect(fatherId,true);
            setTimeout(() => {
              spinnerEffect(fatherId,false);
              jQuery("#btn-zip"+fatherId).append(link);
              jQuery("#btn-generate-zip"+fatherId).prop('disabled', true);
            }, 3000);
          },
          error: function(response,xhr, textStatus, errorThrown) {
                  console.log(xhr);
              }
        });
      }else{
        alert("No puedes generar un zip porque no tienes documentos adentro");
      }
    }

    function spinnerEffect(id,status){
      if(status){
        jQuery("#btn-generate-zip"+id).append('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinnerId'+id+'"></span>');
      }else{
        span = jQuery("#spinnerId"+id).remove();
      }
    }

    function getFileObjData(idObj){
      console.log(idObj);

      jQuery.ajax({
        type: "GET",
        url: "{% url 'getAndUpdateFileAjax' %}",
        dataType:"json",
        data: {
          id: idObj,
        },
        success: function(response, status, xhr) {
          var data = response["response"];
          jQuery("#idFormFile").val(data.id);
          jQuery("#exampleModalLabel").text(data.fileName);
          jQuery("#parent-breadcrumbs").text(data.fileTypeName+" > "+data.fileName);
          jQuery("#typeDocument").val(data.fileName);
          jQuery("#description_text").val(data.fileDescription);

        },
        error: function(response,xhr, textStatus, errorThrown) {
                console.log(xhr);
        }
      });
    }
  </script>

{% endblock %}